@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');

:root{
    --color-fundo: #FEF1F1;
    --color-pink: #E70663;
    --color-gray: #71777F;
    --color-blue: #163963; 
}

body{
    margin: 0 auto;
    padding: 0;
    overflow-x: hidden;
}

h1{
    font-size: 40px;
    font-family: 'Inter';
}

h3{
    color: var(--color-pink);
    text-align: center;
    font-size: 20px;
    font-family: 'Inter';
}

h4{
    color: var(--color-pink);
    font-size: 15px;
    font-family: 'Inter';
}
p{
    font-family: 'Inter';
    font-size: 18px;
}


/*início cabeçalho*/
header{
    width: 100%;
    height: 50px;
    
}

ul{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 6px 36px;
    gap: 10px;
    justify-content: end;
    margin-right: 10px;
}

li{
    list-style-type: none; 
    margin-top: 8px; 

}

li > a{
    border-radius: 8px;
    color: black;
    font-family: 'Inter';
    text-decoration: none;
    
}

ul > button{
    background: var(--color-gray);
    width: 12%;
    height: 5vh;
    text-decoration: none;
    border: none;
    font-family: 'Inter';
    text-transform: uppercase;
    border-radius: 8px;
    position: relative;
    z-index: 999;
    animation: coresDancantes 4s linear infinite;
    color: white;
    cursor: pointer;
    box-shadow: 2px 2px 10px 1px rgba(0, 0, 0, 0.25);
}



/*início da primeira sessão*/

.container__first{
    width: 100%;
    height: 100%;
}

.wrapp__first{
    display: flex;
    width: 100%;
    height: 100%;
}

.left-side-wrap__first{ 
    display: flex;
    width: 50%;
    height: 100%;
    margin-top: 40px;   
}

.box-introduction-page__first{
    margin-left: 10px;
    font-family: 'Inter';
    font-style: normal;
    font-size: 30px;
}

.pre-title__first{
    background-color: var(--color-blue);
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    padding: 10px;
    box-shadow: 2px 2px 10px 1px rgba(0, 0, 0, 0.25);
    
}
.introduction-header__first{
    line-height: 1.2em;
    margin-left: 40px;
}

.paragraph-below-title{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
}
.color-title-principal{
    color: var(--color-pink);
}


.button-left-side__first{
    background: var(--color-gray);
    width: 25%;
    height: 8%;
    text-decoration: none;
    border: none;
    font-family: 'Inter';
    text-transform: uppercase;
    border-radius: 8px;
    color: white;
    cursor: pointer;
    box-shadow: 2px 2px 10px 1px rgba(0, 0, 0, 0.25);
}
.button-left-side__first a{
    color: white;
    text-decoration: none;
    font-family: 'Inter';
}
.right-side-wrap__first{
    width: 50%;
    height: 100%;
}
.figure-section-1 img{
    width: 624px;
    height: 580px;
}


.second-section{
    width: 100vw;
    height: 100vh;
}
.container__second{
    display: flex;
}


.wrapp__second{
    display: flex;
    flex-direction: column;
    align-items: center;
}



.wrapp__second span{
    color: var(--color-pink);
}


.container__second{
    justify-content: space-evenly
}
.advantage-cads{
    width: 20vw;
    height: 20vh;
    margin-top: 40px;
}

.advantage-cards__icons{
    display: flex;
    justify-content: space-around
}

.imagem-de-fundo{
    width: 900px;
    height: 100px;
    position: absolute;
    top: 1100px;
    left: -120px;
}

/*sessão 3*/



.wrapper-container__third{
    width: 100vw;
    height: 40vh;
}
.container__third{
    display: flex;
    width: 90vw;
    height: 40vh;
}


.title-principal__third{
    display: flex;
    width: 60vw;
    height: 50vh;
}

.chat-illustration{
    display: flex;
}

.wrapper-chat-illustration{
    
    display: flex;
    justify-content: flex-end;
    width: 30vw;
}
.title-principal__third{
    margin-left: 40px;
    line-height: 1.0em;

}

.title__third{
    line-height: 1.2em ;

}

.title__third span{
    color: var(--color-pink);
    line-height: 1.1em;
}




.square-1{
    width: 350px;
    height: 350px;
    background: var(--color-pink);
    border-radius: 8px 0 0 0;
}
.square-2{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 420px;
    height: 400px;
    margin-left: 10px;
    margin-top: 10px;
    background: var(--color-blue);
    border-radius: 8px;
}

.chat-message-main{
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 350px;
    
    
}

.chat-box__1, .chat-box__2, .chat-box__3 {
    width: 28vw;
    height: 20vh;
    display: flex;
}

.chat-message__1 p, .chat-message__2 p, .chat-message__3 p{
    font-size: 15px;
    font-family: 'Inter';
    margin-left: 10px;
    color: white;
    text-shadow: 1px 1px black;
}

.chat-message__1, .chat-message__3 {
    border-radius: 7px 7px 7px 0;
}
.chat-message__2{
    border-radius: 7px 7px 0 7px;
}

.chat-message-avatar__1{
    background-image: url(../../imagens/avatar-1.png);
}
.chat-message-avatar__2{
    margin-left: 10px;
}
.chat-box__2{
    flex-direction: row-reverse;
}


.chat-message__1, .chat-message__2, .chat-message__3{
    width: 20vw;
    height: 10vh;
    background: var(--color-gray);}
    
.img-avatar{
    width: 70px;
    height: 64px;
}

/*início da quarta sessão*/


/*lado esquerdo*/

.third-section{
    width: 100vw;
    height: 70vh;
   
}


.container__fourth{
    background: var(--color-fundo);
    display: flex;
    height: 100vh;
    justify-content: space-around;
}

.title-principal__fourth{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50vw;
    line-height: 10px;
    
}
.fourth span{
    color: var(--color-pink);
}
.fourth{
    margin-top: 20px;
    margin-left: 10px;
}

/*lado direito*/

.cards-how-to-use-app{
    display: flex;
    width: 50vw;
    height: 100vh;
}

.container-cards{
    width: 50vw;
    display: flex;
    flex-direction: row;
    
}

.wrapper-cards{
   display: flex;
   flex-wrap: wrap;
   gap: 20px;
   justify-content: center;
   align-content: center;
}

.cards{
    color: white;
    width: 20vw;
    height: 40vh;
}

.cards__1, .cards__2{
    background: var(--color-blue);
    border-radius: 8px;
    margin-left: 10px;
}

.cards__1 h4, .cards__2 h4{
    letter-spacing: 0.1rem;
    margin-left: 10px;
}

.cards__3, .cards__4{
    background: var(--color-pink);
    border-radius: 8px;
    margin-left: 10px;
}

.cards__3 span, .cards__4 span{
    color: var(--color-blue);
    letter-spacing: 0.1rem;
    margin-left: 10px;
}

.cards__1 p, .cards__2 p, .cards__3 p, .cards__4 p{
    margin-left: 10px;
}

.chat-message__1, .chat-message__2, .chat-message__3 {
    width: 20vw;
    height: 14vh;
}
/*início da quinta sessão*/

.fifty-section{
    width: 100vw;
    height: 80vh;
}

.wrapper-container__fifty{
    width: 100vw;
    height: 80vh;
    display: flex;
}

.container-square__fifty{
    width: 40vw;
}

.box-cards__fifty{
    display: flex;
    height: 60vh;
    justify-content: space-around;
    align-items: flex-end;
}

.square-fifty-1{
    width: 350px;
    height: 350px;
    background: var(--color-pink);
    border-radius: 8px 0 0 0;
}
.square-fifty-2{
    width: 420px;
    height: 400px;
    margin-left: 10px;
    margin-top: 10px;
    background: var(--color-blue);
    border-radius: 8px;
}

.content-square-fifty{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

.content-square-fifty h4 {
    color: white;
}

.content-square-fifty p{
    margin-left: 20px;
    color: white;
}

.text-fifty-section-main{
    display: flex;
    justify-content: space-around;
    width: 60vw;
    height: 80vh;
}

.container-text-fifty{
    display: flex;
    align-items: center;
    width: 50vw;
    height: 80vh;

}

.text-fifty-section{
    width: 45vw;
    line-height: 1.3em;
    margin-left: 20px;
    
}

.text-fifty-section span{
    color: var(--color-pink);
}


/*Inicio sexta sessão*/

.sixth-section{
    width: 100vw;
    height: 100vh;
    background: var(--color-pink);
}

.container-sixth{
    display: flex;
}

.wraper-sixth{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40vw;
    height: 100vh;   
}



.text-sixth{
    margin-top: 30px;
    color: white;
    text-align: center;
}

.download-app figure img{
    margin-top: 40px;
}

.form-sixth{
    width: 60vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.wraper-form-sixth{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 35vw;
    height: 60vh;

}

.text-title-cards{
    width: 35vw;
    height: 10vh;
    text-align: center;
    
}

.text-title-cards p{
    color: #c0bfbf;
    font-weight: 800;
    font-size: 25px;
}

.cards-form{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 40vw;
    height: 75vh;
    background: var(--color-blue);
    border-radius: 8px;
}

.input-forms{
    gap: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-forms input{
    width: 300px;
    height: 45px;
    border-radius: 3px;
    outline: none;
    border: none;
    cursor: pointer;
}

#enviar{
    font-family: 'Inter';
    font-size: 15px;
    width: 150px;
    height: 30px;
    border-radius: 5px;
    cursor: pointer;
}


.final-section{
    height: 40px;
}

.text-footer h1{
    font-family: 'Inter';
    font-size: 12px;
    text-align: center;
}



@media  (max-width: 700px) {


    ul button{
        width: 120px;
        height: 30px;
        background: var(--color-gray);
    }
    .wrapp__first{
        display: flex;
        flex-direction: column;
    }

    .left-side-wrap__first{
        width: 100vw;
    }

    .box-introduction-page__first h1 {
        font-size: 0.8em;
        margin-left: 10px;
    }

    .box-introduction-page__first p {
        line-height: 1.2em;
        font-size: 0.7em;
        margin-left: 10px;
    }

    .button-left-side__first{
        width: 160px;
        height: 40px;
        margin-left: 10px;
    }

    .figure-section-1 img{
        width: 350px;
        height: 320px;
    }

    .second-section{
        height: 1200px;
    }
   .container__second{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 1000px;
   }

   .wrapp__second h1{
    text-align: center;
    font-size: 25px;
    margin-left: 10px;
   }
   
   .advantage-cads{
    width: 90vw;
    text-align: center;
   }

   .advantage-cads p{
    width: 90%;
    font-size: 15px;
    margin-left: 10px;
   }

   .third-section{
    
    width: 100vw;
    height: 700px;
   }

    .container__third{
        flex-direction: column;
    }
    .wrapper-container__third h1{
        font-size: 25px;
    }

    .wrapper-container__third p{
       
        font-size: 10px;
    }
   .chat-illustration{
    width: 100vw;
   }

   .title-principal__third{
    width: 90vw;
   }

   .title__third h1{
    font-size: 25px;
    text-align: center;
    line-height: 1.2em;
    margin-right: 15px;
   }

   .wrapper-chat-illustration{
    margin-top: 20px;
    width: 100vw;
    justify-content: center;
   }

   .square{
    width: 360px;
    height: 350px;
    margin-top: 20px;
    margin-right: 20px;
   } 

   .square-1{
    height: 250px;
   }

   .square-2{
   margin-top: 10px;
   }

   .chat-message__1, .chat-message__2, .chat-message__3{
    width: 190px;
   }

   .chat-box__2{
    width: 85vw;
   }

   .img-avatar{
    margin-top: 30px;
   }

   .wrapper-container__third p {
    width: 60vw;
}
   .chat-message__1{
    width: 260px;
    height: 65px;
    margin-top: 30px;
   }

   
   .chat-message__2{
    width: 260px;
    height: 65px;
    margin-top: 30px;
   }    

   .chat-message__3{
    width: 260px;
    height: 65px;
    margin-top: 30px;
   }

   .chat-message__1 span, .chat-message__2 span, .chat-message__3 span{
        text-transform: uppercase;
        color: white;
        text-shadow: 1px 1px black;
   }

   .fourth-section{
    width: 100vw;
    height: 430px; 
   }

   .fourth-section h1{
    font-size: 25px;
   }

   .container__fourth {
    background: white;
    display: flex;
    height: 800px;
    flex-direction: column;
   }

   .title-principal__fourth {
    width: 100vw;
    height: 25vh;
    line-height: 35px;
    margin-top: 10px;
    text-align: center;
   }

   .title-principal__fourth p{
    text-align: left;
    margin-left: 10px;
   }


    .container-cards{
        width: 100vw;  
        height: 500px; 
        background:#e7066446;
    }

   .wrapper-cards{
    width: 100vw;
    display: flex;
   }

   .cards{
    border-radius: 20px;
    width: 170px;
    height: 180px;
    text-align: center;
   }

   .cards h4{
    font-size: 15px;
   }

   .cards p{
    font-size: 12px;
   }

   .fifty-section{
    width: 100vw;
    height: 1000px;
   }

   .wrapper-container__fifty{
    display: block;
    width: 100vw;
    
   }

   .container-square__fifty {
    width: 100vw;
    height: 650px;
   }

   .square-fifty-1{
    width: 330px;
    height: 250px;
    margin-top: 10px;
    margin-right: 20px;
   }

   .square-fifty-2{
    width: 350px;
    height: 350px;
    margin-top: 10px;
    margin-left: 10px;
    text-align: center;
   }

   .square-fifty-2 h4{
    font-size: 15px;
   }
   
   .square-fifty-2 p{
    font-size: 12px;
   }


   .text-fifty-section-main{
    display: block;
    width: 100vw;
    margin-left: 10px;
   }

   .container-text-fifty{
    display: block;
   }
   .text-fifty-section{
    width: 80vw;
    font-size: 30px;
    text-align: center;
   }

   .text-fifty-section h1{
    font-size: 25px;
    line-height: 1.2em;
   }

   .text-fifty-section span{
    color: var(--color-pink);
   }

   .text-fifty-section p{
    
    font-size: 12px;
    text-align: center;
    line-height: 1.7em;
   
   }

   .sixth-section{
    width: 100vw;
    height: 700px;
   }


   .wraper-sixth{
    width: 100vw;
    height: 30vh;
   }

   .text-sixth h1{
    text-align: center;
    font-size: 25px;
   }

    .text-sixth span{
        color: var(--color-blue);
    }

    .download-app figure img{
        width: 350px;
        height: 50px;
    }


    .sixth-section{
        width: 100vw;
        height: 900px;
    }

    .container-sixth {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100vh;
        width: 100vw;
    }


    .wraper-sixth{
        display: block;
        height: 40vh;
    }

    .form-sixth{
        display: block;
        width: 80vw;
        
    }

    .wraper-form-sixth {
        display: block;
        width: 35vw;
        height: 60vh;
    }
    .cards-form{
        display: block;
        width: 85vw;
        height: 500px;
    }  

    .final-section{
        height: 50px;
    }

    .text-footer h1{
        font-family: 'Inter';
        font-size: 10px;
        text-align: center;
    }
}
